
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fff;
}

/* encabezado */
header {
    background-color: burlywood;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* contenido principal */
main {
    padding: 20px;
    background: #fff;
    max-width: 1300px;
    margin: 0 auto; /* centra los margenes de la pag (sin eso se va a la izq)*/
}

.contacto-info {
    align-items: center;
}

.contacto {
    text-align: center; 
    margin-bottom: 20px;
}

/* tablas */
.contacto-ul {
    list-style: none; 
    padding: 0; 
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #333;
    color: white;
}


/* pie de pagina */
footer {
    background-color: burlywood;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* imágenes */
.logo {
    height: 50px;
    margin-right: 20px;
}

.producto-imagen {
    width: 100px;
    height: auto;
}

.img-pianoIndex {
    float: right; 
    margin: 0 0 10px 10px; 
    width: 200px;
}

.img-fundacion {
    float: left; 
    margin: 0 10px 10px 0; 
    width: 300px;
}

.img-clases {
    float: right; 
    margin: 0 0 10px 10px; 
    width: 200px;
}

.img-teclasPiano {
    float: left; 
    margin: 0 10px 10px 0; 
    width: 150px;
}

.img-piano {
    float: right; 
    margin: 0 0 10px 10px; 
    width: 250px;
}

.img-tocarPiano {
    float: left; 
    margin: 0 10px 10px 0; 
    width: 250px;
}


/* video */
.video {
    width: 80%; 
    max-width: 600px; 
    margin: 20px auto; 
    border: 2px solid black; 
    border-radius: 8px;
}

.video-href {
    text-align: center; 
    font-size: 0.9em; 
    color: #666;
}

.div-video {
    text-align: center;
}


/* formulario*/
.form{
    max-width: 800px; 
    margin: auto;
}

.fieldset {
    width: 100%;
}

.fieldset-legend {
    font-size: 20px;
}

.fieldset-select {
    width: 100%; 
    height: 100px;
}

.registrar {
    margin-top: 10px; 
    padding: 10px 20px; 
    background-color:steelblue; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

.limpiar {
    margin-top: 10px; 
    padding: 10px 20px; 
    background-color:dimgray; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}


/* mapa de google */
.mapa {
    border:0;
}